body {
  font-family: 'Quicksand', sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}





#map {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 20px;
  background: #DC7633;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #D35400;
}
