* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.661);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0 40px;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav .menu {
  display: flex;
  gap: 30px;
}

nav .menu a {
  text-decoration: none;
  color: white;
 font-size: 20px;
}

nav .menu a:hover {
  color: #00b894;
}

main {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 35px;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
}

section p {
  font-size: 25px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.btnone, .btntwo {
  background: #00b894;
  color: white;
}

.btnone:hover, .btntwo:hover {
  background: #fff;
  color: #000;
}

.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #00b894;
}

@keyframes changetext {
  0% { content: "Darjeeling"; }
  20% { content: "Agra"; }
  35% { content: "Jaipur"; }
  60% { content: "Kerala"; }
  80% { content: "Delhi"; }
  100% { content: "Mumbai"; }
}
