<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Charging Station</title>
  <!-- Link to your external CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<header style="
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.15)),
    url('{{ url_for('static', filename=settings.background_image) if settings and settings.background_image else url_for('static', filename='images/ev-hero.jpg') }}');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
">

{% include 'components/navbar.html' %}
  

  <main>
    <section>
      <h3>{{ settings.heading_text }}</h3>
      <h1>{{ settings.subheading_text }} <span class="change_content"></span> |</h1>
      <p>"One Step towards Our Environment"</p>
      <a href="/register" class="btnone">New User</a>
      <a href="/login" class="btntwo">Login</a>
    </section>
  </main>
</header>


<!-- Contact
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">Send us a message for inquiries.</h3>
    </div>
    <form id="contactForm" method="POST" action="/contact_us">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <input class="form-control" name="name" type="text" placeholder="Your Name *" required />
          <input class="form-control" name="email" type="email" placeholder="Your Email *" required />
          <input class="form-control" name="subject" type="text" placeholder="Subject *" required />
        </div>
        <div class="col-md-6">
          <textarea class="form-control" name="message" placeholder="Your Message *" required></textarea>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
      </div>
    </form>
  </div>
</section>-->

</body>
</html>
