<div class="sidebar" id="sidebar">
  <nav class="nav flex-column">
    <a href="/admin-home" class="nav-link {% if active=='dashboard' %}active{% endif %}">Dashboard</a>
    <a href="/admin-charts" class="nav-link {% if active=='analytics' %}active{% endif %}">Analytics</a>
    <a href="/view_booking" class="nav-link {% if active=='booking' %}active{% endif %}">View Booking</a>
    <a href="/Manage_station" class="nav-link {% if active=='station' %}active{% endif %}">Manage Station</a>
    <a href="/user-list" class="nav-link {% if active=='users' %}active{% endif %}">Users</a>
    <a href="/view_feedback" class="nav-link {% if active=='feedback' %}active{% endif %}">Feedback</a>
    <a href="/admin-settings" class="nav-link {% if active=='settings' %}active{% endif %}">Settings</a>
   
  </nav>
</div>
